.pdb0 {
    padding-bottom: 0 !important;
}
.mgrb10 {
    margin-bottom: 10px !important;
}
.section-padding {
    padding-top: 56px;
    padding-bottom: 56px;
}
.section-heading {
    padding-bottom: 40px;
}
.section-heading h2 {
    margin-bottom: 10px;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 13px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1e1e27;
}

a {
    transition: all 0.3s ease 0s;
    font-weight: 400;
    color: #5a596a;
}
a:hover, a:focus, a.active {
    text-decoration: none;
    outline: none;
    color: #1490d7;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    font-weight: inherit;
}

p {
    margin-bottom: 25px;
}